/*Add padding to the main boxes and sections  */
.title-box {
  text-align: center;
  padding-top: 4rem;
}

.input-box {

}

.translate-section {
  text-align: center;
  padding: 3rem;
}

.result-box {

}

.twitter-box {
  padding: 3rem;
}


/*Style text*/
p {
  margin-bottom: 5px;
}

h5 {
  padding: 10px;
  margin-bottom: 0;
}

/*Stlying links*/
a:link {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

/*Styling the Twitter button*/

#twitter-button {

}

a#b.btn {
height: 40px;
}

/* Hide most recent translation from "previous translations" section */

p:last-child {
  color: blue;
  display: none;
}
