/*Add padding to the main boxes and sections  */
.title-box {
  text-align: center;
  padding-top: 4rem;
}

.translate-section {
  text-align: center;
  padding: 3rem;
}

.twitter-box {
  padding: 3rem;
}

/*Style text*/
p {
  margin-bottom: 5px;
}

h5 {
  padding: 10px;
  margin-bottom: 0;
}

/*Stlying links*/
a:link {
  text-decoration: none;
  font-size:1.2em;
}

a:-webkit-any-link {
  text-decoration: none;
}

/* Hide most recent translation from "previous translations" section */
p:last-child {
  color: blue;
  display: none;
}
