/*Add padding to the main boxes and sections  */

.translate-section {
  text-align: center;
  padding: 3rem;
}

.input-box {
  padding-top: 4rem;
}

.result-box {
  padding: 3rem;
}

.twitter-box {
  padding: 3rem;
}

/*Stlying links*/
a:link {
  text-decoration: none;
}

a:-webkit-any-link {
  text-decoration: none;
}

/*Styling the Twitter button*/

#twitter-button {

}
